.negro{
    color: black;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.containerTD{
    display: none;
    width: 350px;
    text-align: center;
    background: #cd0101cc;
    padding: 20px;
}
.inpCont{
    display: flex;
}
.inpSearch{
    display: flex;
    margin-bottom: 10px
}
.searchInp{
    width: 90%;
}
.lupaImg{
    width: 10px;
}
.searchBtn{
    background-color: white;
    width: 10%;
    height: 40px;
    color: white;
}
.searchBtn:hover{
    border-color: red;
}
.inpTd{
    width: 90%;
    height: 40px;
    box-sizing: border-box;
}
.addBtnTD{
    width: 10%;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
}
.addBtnTD:hover{
    background-color: rgba(0, 0, 0, 0.326);
    color: rgb(251, 250, 250);
}
.htsk{
    text-decoration: overline;
    margin-block-end: 0;
}
hr{
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 0;
    left: 0;
}
.txts{    
    font-weight: bold;
    list-style: none;
    text-align: left;
    padding: 10px;
    position: relative;
}
.btnDelete{
    order: 4;
    margin-right: 3px;
    cursor: pointer;
    width: 30px;
    border: none;
    background-color: red;
    height: 20px;
    float: right;
}
.btnCheck{
    order: 3;
    cursor: pointer;
    width: 30px;
    border: none;
    background-color: green;
    height: 20px;
    float: right;
}
.inProgBtn{
    order: 2;
    cursor: pointer;
    border: none;
    background-color: beige;
    height: 20px;
    float: right;
    margin-right: 3px;
}
.onHold{
    order: 1;
    float: right;
    cursor: pointer;
    border: none;
    background-color: beige;
    height: 20px;
    margin-right: 3px;
}
.ulF{
    padding-inline-start: 0;
}
.calculator{
    background: #cd0101cc;
    position: relative;
    display: none;
    width: 350px;
    text-align: center;  
    padding: 20px; 
}
.clear{
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    color: white;
}
tr th{
    width: 50%;
}
.hide{
    display: none !important;
}
.inputContainer{
    position: relative;
    margin-bottom: 5px;
}
.warningImg{
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
}
.btnContainer{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25% 25% 25% 25%; 
}
.btn{
    cursor: pointer;
    width: 80px;
    height: 33px;
}
.typerInp{
   
    width: 100%;
    height: 33px;
}
.result{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 10px;
}
.oldResults{
    text-align: center;
}
.fatherResults{
    width: 100%;
}   
.numberBtn{
    background-color: white;
    color: black;
    border: none;
}
.funcBtn{
    background-color: black;
    color: white;
    border: none;
}
.numberBtn:hover{
    background-color: black;
    color: white;
}
.funcBtn:hover{
    background-color: white;
    color: black;
}
.op, .resu{
    cursor: pointer;
}
.grayp:before{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(173, 185, 201);
    content: "";
    padding: 0 8px;
    margin-right: 2px;
}
.aquap:before{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: aqua;
    content: "";
    padding: 0 8px;
    margin-right: 2px;
}
.greenp:before{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(144, 246, 185);
    content: "";
    padding: 0 8px;
    margin-right: 2px;
}
.whitep:before{
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    content: "";
    padding: 0 8px;
    margin-right: 2px;
}
.colorIndiator{
    display: flex;
    justify-content: space-between;
}
.progresStatus{
    background-color: aqua;
}
.holdStatus{
    background-color: rgb(173 185 201);
}
.checkStatus{
    background-color: rgb(144, 246, 185);
}
.navContainer{
    display: inline-block;
    width: 30%;
    color: white;
}
.txtsIntro{
    position: relative;
    z-index: 1;
}
.introduction{
    position: relative;
    display: inline-block;
    margin-right: 50px;
    width: 45%;
    color: white;
}
.introductionImg{
    position: absolute;
    top: -228px;
    left: -85px;
    width: 150%;
    z-index: 1;
}
.childContainer{
    margin: 10% 0;
    width: 70%;
    display: flex;
    justify-content: center;

}
.appContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: url("../img/Dribbble-hexgif-by-Tim-Hykes.gif");
    background-size: 100%;
    margin: 0;
    color: rgb(255, 254, 254);
}
/* html{
    height: 100%;
} */
.navContainer ul{
    width: 110px;
    background: #cd0101cc;
    padding: 33px;
    box-shadow: 10px 10px 10px 9px black;
}
li{
    margin: 15px;
    cursor: pointer;
}
li:hover{
    font-size: 19px;
}
.custom{
    width: 100%;
    background: #cd0101cc;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.customBtn{
    width: 140px;
    background: #450202ad;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
}
.gameContainer{
    display: none;
}
.game{
    background: #cd0101cc;
    display: none;
    padding: 30px;

}
.imgGame{
    width: 100px;
    cursor: pointer;
}
.players{
    width: 100%;
    background: #500404bf;
    display: inline-flex;
    font-size: 11px;
    margin: 10px;
}
.winner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resetGame{
    cursor: pointer;
    color: white;
    background: #500404bf;
    width: 25%;
}
.pointsP{
    display: flex;
    margin: 10px;
}
.block{
    pointer-events: none;
}
@media screen and (max-width: 1024px){
    .container{
        display: block;
        overflow: hidden;
        PADDING: 0 10px;
        font-size: 30px;
    }
    .appContainer{
        height: auto;
    }
    .btnContainer{
        grid-template-columns: 25% 25% 25% 25%;
    }
    .containerTD{
        margin-top: 100px;
        width: 100%;
    }
    .calculator{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .childContainer{
        width: 100%;
        display: block;
        margin: 0;
    }
    .introduction{
        background-color: #cd0101fc;
        position: relative;
        display: block;
        width: 100%;
        color: white;
    }
    .introductionImg{
        display: none;
    }
    .navContainer{
        width: 100%;
        margin-top: 150px;
    }
    .navContainer ul{
        width: 100%;
        margin: 0;
        padding: 33px 0;
        z-index: 3;
        position: relative;
    }
    .txtsIntro{
        margin: 10px;
    }
}